<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletWeb</servlet-name>
        <servlet-class>controller.ServletWeb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarDiario</servlet-name>
        <servlet-class>controller.CriarDiario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletWeb</servlet-name>
        <url-pattern>/ServletWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarDiario</servlet-name>
        <url-pattern>/CriarDiario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
